<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="/submit">Submit new post</a>
<h2>Trending posts</h2>
<table>
    <tr th:each="post : ${posts}">
        <td th:text="${post.getVotes()}"></td>
        <td>
            <a th:href="|/add/${post.getId()}|">+</a>
        </td>
        <td>
            <a th:href="|/sub/${post.getId()}|">-</a>
        </td>
        <td>
            <a th:href="${post.getUrl()}">
                <th:block th:text="${post.getTitle()}"></th:block></a>
        </td>
        <td th:text="${post.getCreationDate()}"></td>
    </tr>
</table>
</body>
</html>